@font-face {
  font-family: 'University Roman';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=j8_26_fT37Dzf_ti8p6NNWMWcxrEe7bl4aL3od3cZmtkTxT_Z2MKZiWcS3w&skey=f2a34946f5698af6&v=v3) format('woff2');
}
